@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body {
    background-image: linear-gradient(to right, rgb(233, 233, 233), #eee, rgb(245, 245, 245));
    font-family: 'Poppins', sans-serif;
}
        
#icon-button {
    transition: all 0.3s;
}

#icon-button:hover {
    box-shadow: 3px 3px 5px rgb(149, 149, 149), -3px -3px 5px rgb(199, 199, 199);
    transform: scale(1.08);
}

.search-form {
    transform: scaleX(0);
    transition: all 0.1s ease-in;
}

.search-form.form-active {
    transform: scaleX(1);
}

.badge {
    transition: all 0.2s ease-in;
}

.badge:hover {
     box-shadow: 1px 1px 5px rgb(184, 184, 184), -1px -1px 5px rgb(184, 184, 184) ;
}

.sosmed .fa-youtube, .fa-instagram, .fa-github { transition: 0.3s ease-in; }

.fa-youtube:hover {
     background-color: white;
     padding: 5px;
     border-radius: 50%;
    color: rgb(255, 0, 0);
 }

.fa-instagram:hover {
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    font-weight: 700;
    color: rgb(144, 0, 211);
}

.fa-github:hover {
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    color: rgb(51, 51, 51);
}


/* Login & register style */
.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.grid-form {
    display: grid;
    grid-template-areas: 
    'name username';
}

.grid-form .name-reg {
    grid-area: name;
    width: 98%;
}

.grid-form .username-reg {
    grid-area: username;
}

/* lessons style */
.marketing .col-lg-6 .card {
    box-shadow: 1px 1px 5px #444;
    transition: 0.3s ease-in;
}

.marketing .col-lg-6 .card:hover {
    box-shadow: 3px 3px 5px rgb(251, 255, 36), -3px -3px 5px rgb(251, 255, 36);
}


/* text typing style */
.home-hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/img/mynotes-banner.jpg");
    background-size: cover;
    background-position: center;
}

.wrapper-text {
    font-size: 2em;
    display: flex;
}

.typing-text {
    position: relative;
    margin-left: 10px;
}

.typing-text::after {
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 100%;
    border-right: 2px solid rgb(228, 24, 24);
    animation: blink 0.3s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
